/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0rem;
}
@media screen and (min-width: 72rem) {
  body {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0rem;
  }
}
@media screen and (min-width: 110rem) {
  body {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0rem;
  }
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.129rem;
}
@media screen and (min-width: 72rem) {
  h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 5.8rem;
    letter-spacing: 0.2rem;
  }
}
@media screen and (min-width: 110rem) {
  h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 5.8rem;
    letter-spacing: 0.2rem;
  }
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 72rem) {
  h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.4rem;
    letter-spacing: 0.143rem;
  }
}
@media screen and (min-width: 110rem) {
  h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.4rem;
    letter-spacing: 0.143rem;
  }
}

h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.115rem;
}
@media screen and (min-width: 72rem) {
  h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0.115rem;
  }
}
@media screen and (min-width: 110rem) {
  h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0.115rem;
  }
}

h4 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 72rem) {
  h4 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.8rem;
    letter-spacing: 0.2rem;
  }
}
@media screen and (min-width: 110rem) {
  h4 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.8rem;
    letter-spacing: 0.2rem;
  }
}

h5 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  letter-spacing: 0.17rem;
}
@media screen and (min-width: 72rem) {
  h5 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.3rem;
    letter-spacing: 0.17rem;
  }
}
@media screen and (min-width: 110rem) {
  h5 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.3rem;
    letter-spacing: 0.17rem;
  }
}

h6 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.107rem;
}
@media screen and (min-width: 72rem) {
  h6 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.107rem;
  }
}
@media screen and (min-width: 110rem) {
  h6 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.13rem;
  }
}

.sub-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
@media screen and (min-width: 72rem) {
  .sub-title {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (min-width: 110rem) {
  .sub-title {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }
}

.button-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 72rem) {
  .button-title {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (min-width: 110rem) {
  .button-title {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
  }
}

.footer-nav {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 72rem) {
  .footer-nav {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
  }
}
@media screen and (min-width: 110rem) {
  .footer-nav {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
  }
}

.icon-arrow {
  height: 11px;
  width: 8px;
}

.facebook {
  height: 24px;
  width: 24px;
}

.twitter {
  height: 19.5px;
  width: 24px;
}

.instagram {
  height: 24px;
  width: 24px;
}

header,
footer {
  background-color: #101010;
}

.button {
  width: 16rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.button--main {
  background-color: #D87D4A;
  color: #FFFFFF;
  border: 2px solid #D87D4A;
}
.button--main:hover {
  background-color: #FBAF85;
  border: 2px solid #FBAF85;
}
.button--featured {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
}
.button--featured--main {
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #000000;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 2rem 1.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  width: 100%;
}
.navbar .nav-icon {
  cursor: pointer;
}
.navbar .nav-icon--hamburger {
  height: 1.5rem;
  width: 1.6rem;
  justify-self: start;
  align-self: center;
}
.navbar .nav-icon--cart {
  height: 2rem;
  width: 2.3rem;
  justify-self: end;
  align-self: center;
}
.navbar .logo {
  justify-self: center;
}

.main {
  height: 511px;
  width: 100%;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background-image: url(../images/home/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-rows: 5fr 4fr 4fr 6fr;
  align-items: center;
  justify-items: center;
}
.main .overline {
  color: #F1F1F1;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  align-self: end;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 72rem) {
  .main .overline {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 1rem;
  }
}
@media screen and (min-width: 110rem) {
  .main .overline {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 1rem;
  }
}
.main-title {
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  align-self: start;
}
.main-body {
  color: #F1F1F1;
  text-align: center;
  align-self: start;
}
.main-button {
  align-self: start;
}

.shop {
  background-color: #FFFFFF;
  padding: 10rem 0rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 5rem;
  display: grid;
}
.shop-card {
  display: flex;
  flex-direction: column;
  height: 16.5rem;
  background-color: #F1F1F1;
  margin-bottom: 7.2rem;
  border-radius: 0.8rem;
  width: 100%;
  align-items: center;
}
.shop-card--headphones {
  height: 15rem;
  width: 15rem;
  position: relative;
  top: -5.8rem;
  justify-self: center;
}
.shop-card--speakers {
  height: 15rem;
  width: 15rem;
  position: relative;
  top: -5.8rem;
  justify-self: center;
}
.shop-card--earphones {
  height: 15rem;
  width: 15rem;
  position: relative;
  top: -5.8rem;
  justify-self: center;
}
.shop-title {
  position: relative;
  top: -5.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.shop-link {
  display: flex;
  width: 5.7rem;
  color: hsla(0deg, 0%, 0%, 0.5);
  position: relative;
  top: -5.8rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.shop-link > svg {
  margin-left: 1rem;
}

.featured {
  background-color: #FFFFFF;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 12rem;
}
.featured--main {
  background-color: #D87D4A;
  background-image: url("../images/home/desktop/pattern-circles.png");
  background-position: center -128px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.8rem;
  padding: 2.4rem;
  padding-top: 6.4rem;
  margin-bottom: 2.4rem;
}
.featured--main-image {
  width: 17.4rem;
  height: 21.2rem;
  margin-bottom: 4.4rem;
}
.featured--main-title {
  color: #FFFFFF;
  width: 8ch;
  margin-bottom: 2.4rem;
}
.featured--main-description {
  color: #FFFFFF;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 2.4rem;
}
.featured--secondary {
  width: auto;
  height: 32rem;
  background-image: url(../images/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
}
.featured--secondary-title {
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.featured--secondary .button {
  color: #000000;
  font-weight: 700;
  background-color: transparent;
}
.featured--last {
  background-color: #F1F1F1;
  width: 100%;
  height: 20rem;
  border-radius: 0.8rem;
  padding: 2.4rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured--last-title {
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.featured--last-image {
  background-image: url(../images/home/mobile/image-earphones-yx1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20rem;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
}

.informational {
  background-color: #FFFFFF;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.informational-image {
  width: 100%;
  height: 30rem;
  background-image: url("../images/shared/desktop/image-best-gear.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 0.8rem;
  margin-bottom: 4rem;
}
.informational-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.informational-title .highlighted {
  color: #D87D4A;
}
.informational-body {
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 3.8rem;
  border-top: 0.3rem linear-gradient(to right, black 30%, red 30% 90%, black 60%);
}
.footer .border-accent {
  margin-bottom: 4.7rem;
  width: 10.1rem;
  height: 0.4rem;
  background-color: #D87D4A;
}
.footer .logo {
  margin-bottom: 4.8rem;
}
.footer .navigation {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}
.footer .navigation .footer-nav:not(:last-of-type) {
  margin-bottom: 1.6rem;
}
.footer-body {
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 4.8rem;
}
.footer .copyright {
  opacity: 0.5;
  font-weight: 700;
  margin-bottom: 4.8rem;
}
.footer .social-icon {
  cursor: pointer;
  margin-right: 1.6rem;
}
.footer .social-icon--fb {
  height: 2.4rem;
  width: 2.4rem;
}
.footer .social-icon--tw {
  height: 1.95rem;
  width: 2.4rem;
}
.footer .social-icon--ig {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 0rem;
}/*# sourceMappingURL=style.css.map */